{% extends 'shop/basic.html' %}
{% block css %}
 .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }

          .carousel-indicators .active {
          background-color: blue;
            }

          .col-md-3 img{

          max-width: 227px;
          height: 242px;
          }

          body .carousel-indicator li{
          background-color: blue;
          }

          body .carousel-indicators{
          bottom: 0;
          }

          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          position:absolute;
          bottom:200px;
          }

          .carousel-control-prev,
          .carousel-control-next{
          top: auto;
bottom: auto;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
 {% endblock %}

{% block body %}
{% load static %}
<div class="container" xmlns="http://www.w3.org/1999/html">
{% for product ,range,nSlide in allprod %}
<h1>{{product.0.catagory}}</h1>
<div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
        {% for i in range%}
        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
        {% endfor %}
    </ul>

    <!--Slideshow starts here -->
    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">
        <!--<div class="col-xs-3 col-sm-3 col-md-3">-->
          <!--<div class="card" style="width: 18rem;">-->
            <!--<img src='/MEDIA/{{product.0.prod_img}}' class="card-img-top" alt="...">-->
            <!--<div class="card-body">-->
                <!--<h5 class="card-title">{{product.0.product_Name}}</h5>-->
                <!--<p class="card-text">{{product.0.desc}}</p>-->
                <!--<p class="card-text">{{product.0.price}}</p>-->
                <!--<a href="#" class="btn btn-primary">ADD TO CART</a>-->
            <!--</div>-->
          <!--</div>-->
       <!--</div>-->


          {% for i in product|slice:"0:"%}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card" style="width: 18rem;">
            <img src='/MEDIA/{{i.prod_img}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.product_Name}}</h5>
              <p class="card-text">{{i.desc}}</p>
              <p class="card-text">{{i.catagory}}</p>
                <p class="card-text"><b>${{i.price}}</b></p>
              <button id="pr{{i.id}}" class="btn btn-primary par">ADD TO CART</button>
                <a href="/shop/products/{{i.id}}"  ><button id="qv{{i.id}}" class="btn btn-primary ">BUY</button></a>
            </div>
          </div>
        </div>
           {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div><div class="carousel-item">
        {% endif %}

          {% endfor %}
    </div>
    </div>
</div>




    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

{% endfor %}
     </div>
 {% endblock %}
{% block js %}
<script>
    console.log("working");
    if (localStorage.getItem("cart")==null) {
        var cart={}
    }
    else {
        cart =JSON.parse(localStorage.getItem("cart"));
    }
    $('.par').click(function () {
        console.log("click");
        var idss=this.id.toString();
        console.log(idss);
        console.log(cart);

             if (cart[idss] !==undefined){
                    cart[idss]=cart[idss]+1
             }
             else{
                    cart[idss] = 1
                 }
        var a=JSON.stringify(cart);
        localStorage.setItem('cart',a);
        document.getElementById('cartnav').innerHTML=Object.keys(cart).length;
    });
    $("#popov").popover();
    document.getElementById("popov").setAttribute('data-content','<h5>You Have Add This No of Item In Your Cart</h5>')

</script>

{% endblock %}
